@charset "utf-8";
/* CSS Document */
html,body { 
	height: 100%; 
	margin: 0px; 
	padding: 0px; }

body{
	font-size: 1.2em;
	margin: 0px;
	padding: 0px;
	background-color: #05060c;
	color: #FFFFFF;
	font-family: "Verdana", "Arial", Sans-serif;
	font-size: 20px;
}

h1{
	font-size:  70px;
	font-weight: 300;
	color:#fbff87;
	margin: 0px;
	font-family: "Courier New", "Lucida Console", monospace;
}

h2{
	font-weight: 600;
	margin: 0px;
	font-family: "Courier New", "Lucida Console", monospace;
}

h3{
	font-size: 1.5em;
	font-weight: 600;
	margin: 0px;
	font-family: "Courier New", "Lucida Console", monospace;
	color:#fbff87;
}


.mainContainer{
	background-color: #2f4fc6;
	max-width: 500px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.inv a:link, .inv a:visited {
	color: #2f4fc6;
}

.senators{
	margin: 10px;
	width: 100%;
	text-align: left;
}

.totals{
	padding: 0px 15px;
}