@charset "utf-8";
/* CSS Document */
body{
	margin: 0px;
	padding: 0px;
	background-color: #2f4fc6;
	color: #FFFFFF;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 20px;
}

.YEA{
	color: #55db2c;
	font-size: 25px;
}

.NAY{
	color: #ff0011;
	font-size: 25px;
}

.ABS{
	color:#fbff87;
	font-size: 25px;
}

.EXC{
	color:#52e0ff;
	font-size: 25px;
}

.YEABD{
	color: #55db2c;
	font-size: 40px;
}

.NAYBD{
	color: #ff0011;
	font-size: 40px;
}

.ABSBD{
	color:#fbff87;
	font-size: 40px;
}

.EXCBD{
	color:#52e0ff;
	font-size: 40px;
}

h1{
	font-size:  70px;
	color:#fbff87;
}



p{
	
}

.mainContainer{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.inv a:link, .inv a:visited {
	color: #2f4fc6;
}
